{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">About Melvera</h1>
  <p class="govuk-body">This is the about page. Customize with real info!</p>
</div>
{% endblock %}