{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">About Melvera</h1>
  <p class="govuk-body"><b>The Royal Federation of Melvera</b>  (or simply <b>Melvera</b>) is a nation located in the northwest quadrant (-,-) of CivMC.</p>
  <p class="govuk-body">It is a tundra nation on the continent of Northlandia. It was founded on July 23rd, 2025, following the ratification of an agreement with the Pirate Queen of Nassau, Paddington_Bear.</p>
</div>
{% endblock %}