{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
<h1 class="govuk-heading-xl">Laws and Documents</h1>
<h2 class="govuk-heading-l">Charter Documents</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="info-card">
			<div class="info-card-internal">
				<div class="info-card-content">
					<div class="info-card-title">
						<b>&#9733 The Ingens Melvera</b>
						<a href="https://docs.google.com/document/d/1iXpvRmmmMrAU222Xg7JKFb_KI5hnUsoAS_vj4UbBDvs/preview" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
					</div>
					<div class="info-card-body">
						The Ingens Melvera is the constitution and fundamental principles of the Royal Federation of Melvera, the central body of law governing the nation.
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Legislative history</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Ingens Melvera
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												First Draft of August 6th, 2025
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="info-card">
			<div class="info-card-internal">
				<div class="info-card-content">
					<div class="info-card-title">
						<b>&#9733 Provisional Government Charter</b>
						<a href="https://docs.google.com/document/d/1LJ2_F2Rkw9xP6120jKuwHC-64bLPovMiAvjVdq9f4-I/preview" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
					</div>
					<div class="info-card-body">
						The Provisional Government Charter is a temporary foundational document to be enforced as the Royal Federation of Melvera grows, and while certain constitutional provisions are unable to be met with a lack of citizenry.
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Legislative history</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Provisional Government Charter
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												First Draft of December 26th, 2025
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
      <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Agreement of the Twenty-Third of July
			  <a href="https://docs.google.com/document/d/e/2PACX-1vS7sjxYzkxsPjiyRUK25CExquVUM2P6tgF4qOsyJHSv-gwSmZBbSI2058LAHreNKy_sa0378xkAPKC8/pub" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Agreement of the Twenty-Third of July is the founding document of the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Ratification of the Agreement of the Twenty-Third of July
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Ritonic Code
			  <a href="https://docs.google.com/document/d/1yAVGgcmvS3wKracqmSvdJqNVbjbWu2D5DxPUvFmAngo/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Ritonic Code of the Melverans is the civil code of the Royal Federation of Melvera, governing private law in relation to property, labor, environmental, civil rights, and criminal law.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Ritonic Code
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Second Draft of August 7th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f1c000; color: black;">AMENDED</strong>
                        </td>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 7th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Charter of Rights
			  <a href=https://docs.google.com/document/d/1RrbwVddyjKYUQmXsfKRyEPeS7rJKWYT5hizwvmRYuRk/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Declaration of the Human and Civil Rights of the People (Charter of Rights) is the foundational document of human rights and civil liberties of the people of the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Charter of Rights
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 6th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Code of Administrative Regulations
			  <a href="https://docs.google.com/document/d/1LYBm4xSAPlD3WXOTfSauR_4Wqq7GyhGRMYJwwPbZc2k/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Code of Administrative Regulations is the code of general regulations of the national government of the Royal Federation of Melvera.
      			</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Code of Administrative Regulations
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 6th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
    <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Provinces & Territory</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              City & Province of Aurilles
			  <a href="https://docs.google.com/document/d/1ahzAFObC-7vlgsQM0Xv-8LXu0LercNpraKTd0cnHxSw/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
            Aurilles is the capital city of Melvera. it is officially a consolidated city and county.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Establishment of Aurilles
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #1d70b8; color: white;">ESTABLISHED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Official Plan of July 22nd, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #52a138; color: white;">PLANNED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              City & Province of Maclina-Pavoaj
			  <a href="https://docs.google.com/document/d/1UmZWK8Otwllh-MwDbukVbcsIapnKz0NRoBNQ-DZK6hE/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The City & Province of Maclina-Pavoaj was a consolidated city and county in Northeastern Melvera. All plans for the formation and construction of the town were voided in December of 2025.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Cessation of Maclina-Pavoaj
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #ba1e0d; color: white;">VOIDED</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Establishment of Maclina-Pavoaj
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #1d70b8; color: white;">ESTABLISHED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Official Plan of August 5th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #52a138; color: white;">PLANNED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              City & Province of New Postmorphia
			  <a href="https://docs.google.com/document/d/1cT-bTDd66q7K-GEo7wNgTpisT2lX20LXK0qoG-8-FSk/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The City & Province of New Postmorphia is a consolidated city and county in Northwestern Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Establishment of New Postmorphia
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #1d70b8; color: white;">ESTABLISHED</strong>
											</td>
										</tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Official Plan of July 27th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #52a138; color: white;">PLANNED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
      	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Charter of Territory
			  <a href="https://docs.google.com/document/d/1o3M_TPAKgeShwu9f1CZzqeu9a-xfSKNlcAMXi0spDq0/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Charter of Territory is the document governing the landmass and territory of the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Charter of Territory
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 7th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>
	 <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Uniform Code of Law</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              The Ingens Melvera
			  <a href="https://docs.google.com/document/d/1iXpvRmmmMrAU222Xg7JKFb_KI5hnUsoAS_vj4UbBDvs/preview" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Ingens Melvera is recognized as the official body of public law in the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Ingens Melvera
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 6th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Ritonic Code
			  <a href="https://docs.google.com/document/d/1yAVGgcmvS3wKracqmSvdJqNVbjbWu2D5DxPUvFmAngo/preview?tab=t.0" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
      The Ritonic Code of the Melverans is recognized as the official body of private law in the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Ratification of the Ritonic Code
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
											</td>
										</tr
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Second Draft of August 7th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f1c000; color: black;">AMENDED</strong>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          First Draft of August 7th, 2025
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #f18900; color: white;">DRAFTED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
	 <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Treaties & Agreements</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Agreement of the Twenty-Third of July
			  <a href="https://docs.google.com/document/d/e/2PACX-1vS7sjxYzkxsPjiyRUK25CExquVUM2P6tgF4qOsyJHSv-gwSmZBbSI2058LAHreNKy_sa0378xkAPKC8/pub" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				The Agreement of the Twenty-Third of July is the founding document of the Royal Federation of Melvera.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Ratification of the Agreement of the Twenty-Third of July
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              International Independent Treaty
			  <a href="https://docs.google.com/document/d/e/2PACX-1vR8wHjkOsN9iKMG37ABHx9CiAXxhQqpj6C0CvqJ3wxWbJiQMBcb18qR2-VOkGJCpSZxGwgUZDpyYy4u/pub" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				The International Independent Treaty is the founding document of the International Independent Treaty Alliance (IITA), an intergovernmental economic and defensive alliance.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          Ratification of the International Independent Treaty
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #3a8017; color: white;">RATIFIED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
    </div>
  </div>
</div>
{% endblock %}