{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
<h1 class="govuk-heading-xl">Laws and Documents</h1>
<h2 class="govuk-heading-l">Charter Documents</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="info-card">
			<div class="info-card-internal">
				<div class="info-card-content">
					<div class="info-card-title">
						<b>&#9733 The Ingens Melvera</b>
						<a href="https://docs.google.com/document/d/1iXpvRmmmMrAU222Xg7JKFb_KI5hnUsoAS_vj4UbBDvs/preview" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
					</div>
					<div class="info-card-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Legislative history</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												<a href="#" class="govuk-link">Law History Item</a>
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
      <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
    <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Provinces & Territory</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
	 <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Uniform Code of Law</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
	 <div class="govuk-grid-column-full">
	  <h2 class="govuk-heading-l">Treaties & Agreements</h2>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
      <!-- More sections, e.g., States, Treaties, etc. -->
	   <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
            <div class="info-card-title">
              Example Law or Document
			  <a href="#" class="govuk-link open-info-link" target="_blank">&#11016 Open</a>
            </div>
			<div class="info-card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
            <div class="info-card-supplement">
              <details class="govuk-details info-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Legislative history</span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                          <a href="#" class="govuk-link">Law History Item</a>
                        </th>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                          <strong class="govuk-tag" style="background-color: #F1C000;">AMENDED</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
    </div>
  </div>
</div>
{% endblock %}