<!DOCTYPE html>
<html>
<body class="govuk-template__body">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  <!-- // ... -->

  <script type="module" src="scripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from 'scripts/govuk-frontend.min.js'
    initAll()
  </script>
<h1>CivMC Melvera</h1>
<p>I'm hosted with GitHub Pages.</p>
<p>This is a work in progress! :)</p>
<br>
<p>in the balls ack</p>
<p>- rito</p>
</body>
</html>