{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">News</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="info-card">
			<div class="info-card-internal">
				<div class="info-card-content">
        	<div class="info-card-body">
						August 6th, 2025
					</div>
					<div class="info-card-title">
						<b>The Ingens Melvera has been ratified!</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Open story</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
                     <td class="govuk-table__cell">
                     The Ingens Melvera, the constitution and official public law of the Royal Federation, has been ratified and will be put into effect promptly.
                     </td>
										</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}