{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">Officials & Contact</h1>
  <p class="govuk-body">Contact info and officials go here.</p>
</div>
{% endblock %}