{% extends "layout.njk" %}
{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">Officials & Contact</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="info-card">
			<div class="info-card-internal">
				<div class="info-card-content">
        	<div class="info-card-body">
            <b>Prime Minister of Melvera</b>
					</div>
					<div class="info-card-title">
						<b>Rito</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												nullDorito
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #52a138 color: white;">IGN</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												@nulldorito
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #5865f2; color: white;">DISCORD</strong>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
      <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
        	<div class="info-card-body">
            <b>Royal Spokesperson of Melvera</b>
					</div>
					<div class="info-card-title">
						<b>Justin0rigami_</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												Justin0rigami_
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #52a138 color: white;">IGN</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												@justin0rigami_
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #5865f2; color: white;">DISCORD</strong>
											</td>
										</tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
        	<div class="info-card-body">
            <b>Minister of Law & Governance</b>
					</div>
					<div class="info-card-title">
						<b>Rito</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												nullDorito
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #52a138 color: white;">IGN</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												@nulldorito
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #5865f2; color: white;">DISCORD</strong>
											</td>
										</tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div class="govuk-grid-column-one-half">
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
        	<div class="info-card-body">
            <b>Monarch of Melvera</b>
					</div>
					<div class="info-card-title">
						<b>Vacant</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												N/A
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #52a138 color: white;">IGN</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												N/A
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #5865f2; color: white;">DISCORD</strong>
											</td>
										</tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
	  <div class="info-card">
        <div class="info-card-internal">
          <div class="info-card-content">
        	<div class="info-card-body">
            <b>Minister of Architecture and Infrastructure</b>
					</div>
					<div class="info-card-title">
						<b>GorillaGlue</b>
					</div>
					<div class="info-card-supplement">
						<details class="govuk-details info-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">Contact</span>
							</summary>
							<div class="govuk-details__text">
								<!-- Table or content here -->
								<table class="govuk-table">
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												GorillaGlue420
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #52a138 color: white;">IGN</strong>
											</td>
										</tr>
										<tr class="govuk-table__row">
											<th scope="row" class="govuk-table__header">
												@dylanperez6449
											</th>
											<td class="govuk-table__cell govuk-!-text-align-right">
												<strong class="govuk-tag" style="background-color: #5865f2; color: white;">DISCORD</strong>
											</td>
										</tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat .info-card as needed for more documents -->
    </div>
</div>
{% endblock %}